ul {
	list-style-type: none;
}

li {
	padding-top: 1rem;
}

hr {
	margin-top: 2rem;
}

.list-add-event__button {
	width: 100%;
	height: 2rem;
	text-align: left;
	padding-left: 2rem;
	border: none;
	border-radius: 10px;
}

.list-add-event__button > span {
	color: rgb(99, 99, 99);
}

.list-add-event__button:hover > span {
	color: rgb(51, 51, 51);
}

.list-add-event__button:hover {
	background-color: rgba(188, 188, 188, 0.5);
}
