<h3>{{ day }}</h3>
@if (currentAction === 'read') {
	<add-event-prompt (startAdd)="onStartAdd()"></add-event-prompt>
	@for (event of events; track event.id) {
		<event-badge
			[event]="event"
			(startDelete)="onStartDelete($event)"
			(startEdit)="onStartEdit($event)"
		></event-badge>
	}
}
@if (currentAction === 'add' || currentAction === 'edit') {
  <event-form
    [event]="getEventData()"
    [day]="day"
    [month]="month"
    [year]="year"
    (saveEvent)="onActionFinished()"
    (cancelEvent)="onActionFinished()"
  ></event-form>
}

@if (currentAction === 'delete') {
	<event-delete-confirm
		[eventId]="getEventId()"
		(deletedEvent)="onActionFinished()"
		(cancelDelete)="onActionFinished()"
	></event-delete-confirm>
}
