.calendar-layout__month-year-container {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
}

.calendar-layout__month-year__buttons {
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: .2rem;
}

.calendar-layout__month-year__buttons > * {
	font-weight: bold;
	font-size: 1rem;
}