<div class="calendar-layout__month-year-container">
	<h3 class="calendar-layout__month-year">
		<span class="calendar-layout__month">Fevereiro</span>,
		<span class="calendar-layout__year">2025</span>
	</h3>
	<div class="calendar-layout__month-year__buttons">
		<button class="calendar-layout__month-year__button">+</button>
		<button class="calendar-layout__month-year__button"><</button>
		<button class="calendar-layout__month-year__button">></button>
	</div>
	<calendar-list></calendar-list>
</div>