<div class="event-form__container">
	<button *ngIf="!isAddingEvent()" class="add-event__button" (click)="startAddingEvent()">
    <span>Adicionar evento...</span>
	</button>
	<div *ngIf="isAddingEvent()" class="event-form">
			<h4>Adicionar Evento</h4>
			<div class="form">
					<div class="event-form__fields">
						<div class="event-form__summary">
								<fieldset id="description">
										<label for="description">Descrição</label>
										<input type="text" id="description" [(ngModel)]="event.description" required>
								</fieldset>
								<fieldset>
										<label for="start_datetime">Início</label>
										<input type="time" id="start_datetime" [(ngModel)]="event.start_datetime" required>
								</fieldset>
								<fieldset>
										<label for="end_datetime">Fim</label>
										<input type="time" id="end_datetime" [(ngModel)]="event.end_datetime" required>
								</fieldset>
						</div>
						<fieldset type="textarea">
								<label for="content">Conteúdo</label>
								<textarea id="content" name="content" [(ngModel)]="event.content"></textarea>
						</fieldset>
					</div>
					<div class="event-form__buttons">
							<button class="btn-standard cancel-event" (click)="cancelAddingEvent()">
								<span>CANCELAR</span>
							</button>
							<button class="btn-standard save-event" (click)="onSubmit()">
								<span>SALVAR</span>
							</button>
					</div>
			</div>
	</div>
</div>
