.calendar-layout__header {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
}

.calendar-layout__salutation {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.salutation {
	margin-right: .5rem;
}