/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
	background-color: #f0f0f0;
}

:root {
	--full-screen-width: calc(100vw - 4rem);
	--full-screen-height: calc(100vh - 4rem);
}

.btn-standard {
	padding: .4rem;
	min-width: 2rem;
}

button:hover {
	cursor: pointer;
}

p {
	font-size: .8rem;
}
