:host {
	width: 100%;
}

.event-form__container {
	margin-top: 1rem;
}

.event-form {
	display: flex;
	flex-flow: column;
	align-items: start;
	justify-content: start;
	gap: 1rem;
	padding: .2rem .4rem .2rem 1rem;
	background-color: rgb(129, 184, 239);
	border-radius: 10px;
}

.form {
	width: 100%;
}

.event-form__summary {
	display: flex;
	flex-flow: row;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.event-form {
	padding-right: .2rem;
}

.event-form__fields {
	width: 70%;
}

@media (max-width: 900px) {
	.event-form__fields {
		width: 100%;
	}
}

.event-form__buttons {
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: .2rem;
	justify-content: flex-end;
	padding-top: 1rem;
}

.event-form__buttons > button:last-child {
	margin-right: .2rem;
}

.event-form__buttons > button {
	border-radius: 5px;
	border: none;
}

.cancel-event {
	background-color: #b1b1b1;
	color: #2c2c2c;
}

.cancel-event:hover {
	background-color: #838383;
}

.save-event {
	background-color: #8efb9e;
	color: #2c2c2c;
}

.save-event:hover {
	background-color: #54ea6b;
}

fieldset {
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: .3rem;
	border: none;
	padding: .2rem;
}

fieldset[type="textarea"] {
	align-items: start !important;
}

fieldset#description {
	flex-grow: 1;
}

input#description {
	width: 100%;
}

textarea {
	padding: .2rem;
	width: 100%;
}

h4 {
	margin-top: .5rem;
}
